<div style="padding-top:100px">
    <h1>Medical Profile</h1>
   Firstname:{{profile.firstName}}<br>
    Lastname:{{profile.lastName}}<br>
    Height:{{profile.height}}<br>
    Weight:{{profile.weight}}<br>
    Chronicdiseases:{{profile.chronicdiseases}}<br>
    Emergency:{{profile.emergencycont}}<br>
    Allergic Info:{{profile.allergicinfo}}<br>
    BloodGroup:{{profile.bloodgroup}}<br>
    Lastwishes:{{profile.lastwishes}}
    Other:{{profile.other}}<br>


<a class="btn btn-primary" (click)="goto()">Update Profile</a>



</div>
