.backgroundimg1{
    background-color: rgba(100,100,100,0.1);    
}
.dropshadow{
    box-shadow: 0 1px  0 rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    transition-property: box-shadow;
    transition-duration: .2s;
}

.dropshadow:hover{
    box-shadow:  0 10px 30px rgba(0,0,0,0.2);
}

#dashboard-panel .card-title{
    font-size: 3em;
    font-style: 700;
}