<div class="backgroundimg1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"><a href="#">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="#">Medications</a></li>
        </ol>
    </nav>

    <div class="user-welcome" style="padding-bottom: 15px; margin-left:20px;margin-right:45px;border-bottom:2px solid rgba(100,100,100,.15)" class="mb-3">
        <h2 class="d-inline">Today's Medications <span class="badge badge-light">{{userMedications.length}}</span></h2>
        <button class="btn btn-success d-inline float-right"><b>+</b> Add New</button>
    </div>

    <div class="fluid-container justify-content-center">
        <div class="pill-container row">
            <div class="pill-tile" *ngFor="let med of userMedications;">
                <div class="pill-header">
                    <h3 class="d-inline text-left">{{med.med_name}}</h3>
                    <h4 class="d-inline text-right pill-time" >{{med.med_time}}</h4>
                </div>
                <div class="pill-body">
                    <p>{{med.med_drug}}</p>
                    <p><strong>{{med.med_stock}}</strong> pills left in stock
                    <span *ngIf="med.med_stock < 15 " class="badge badge-danger ml-2 px-2 py-1">Buy Now</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- chanllenge toast
        <div class="toast">
            <div class="toast-header">
                <strong class="mr-auto">Chase it {{user.user_name}}</strong>
                <button type="button" class="close" data-dismiss="toast">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                Take all medicine time to time, and get 200 health points.
            </div>
        </div> -->

    
</div>