
<div style="padding-top:200px;">

    <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
<button type="button" (click)="upload()">Upload</button>
</div>

<div class="row card" style="margin:30px">
    <h4>My Reports</h4>

    <div class="row" *ngFor="let item of reports; let i = index"
    style="margin:30px;padding:5px;background-color:rgb(231, 229, 229); border-radius:5px; line-height:40px;">
        <div class="col-sm-7">{{item.reportname}}</div>
        <div class="col-sm-5" style="text-align:center;"><button type="button" class="btn btn-primary" (click)="download(i)">Download</button></div>
    </div>
</div>